# Define development environment variables in a bash-compliant format.

# AWS config for local administration.
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_DEFAULT_REGION=''
AWS_DEFAULT_OUTPUT='json'

# Lambda specific
PROD_LAMBDA_LOG_GROUP='api-python-ApiFunction-XXXXXXXXXXXX'
PROD_AWS_ECR_REPOSITORY='XXXXXXXX'

PROD_LOGGING_LEVEL='INFO'
PROD_WORKERS=1
PROD_POSTGRES_URI='postgres://postgres:password@host:5432/postgres'
PROD_NEO4J_URI='neo4j://neo4j:7687'
PROD_NEO4J_PASSWORD='password'
